
//PCのデフォルトスタイルは割愛します
.all_center {
    text-align:center;
}
.covid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 640px;
    border: 3px solid #666666;
    .thead {
        border-bottom: 1px double #000;
        background: #666666;
        color: #fff;
        font-weight: bold;
        text-align: center;
        position: sticky;
        top: 0px;
    }
    td {
        text-align: right;
        &:first-child {
            font-weight: bold;
            text-align: center;
        }
        
    }
    tr:nth-child(2n) {
        background: #d6d6d6;
    }
}
.footer-center {
    a {
        color: rgba(119, 119, 119, 0.92);
        &:hover,
        &:active {
            color: rgba(119, 119, 119, 0.6);
        }
    }
}
@media screen and (max-width: 640px) {
    .covid {
        .thead {
            display: none;
        }
        tr {
            width: 100%;
        }
        td {
            display: block;
            text-align: right;
            width: 100%;
            &:first-child {
                background: #666666;
                color: #fff;
                font-weight: bold;
                text-align: center;
            }
            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                margin-right: 10px;
            }
            &.occurrence,
            &.pcr {
                background: #d6d6d6;
            }
            &.deceased {
                background: #fff;
            }
        }
    }
}