.footer-center {
    border-top: 1px solid #000; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    a {
        position: relative;
        display: inline-block;
        color: rgba(255,255,255,0.6);
        transition-duration: 300ms;
        text-decoration: none;
        &:hover,
        &:active {
            color: rgba(255, 255, 255, 0.92);
            transition-duration: 300ms;
        }
        &:hover {
            width: 100%;
            cursor: pointer;
        }
    }
}