footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-top: 1px solid #000;
    background: #fff;
    .menu-area {
        width: 50%;
        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .oss-short-name {
                display: none;
            }
        }
    }
    .copy-right-area {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    footer {
        .menu-area {
            .nav {
                .oss-long-name {
                    display: none;
                }
                .oss-short-name {
                    display: block;
                }
            }
        }
    }
    
}
@media screen and (max-width: 550px) {
    footer {
        text-align: center;
        display: block;
        height: auto;
        .menu-area {
            width: auto;
            .nav {
                display: block;
                li {
                    border-bottom: #000 solid 1px;
                }
            }
        }
        .copy-right-area {
            margin-right: auto;
        }
    }
    
}