.footer-center {
    border-top: 1px solid #000; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-bottom: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    a {
        position: relative;
        display: inline-block;
        color: rgba(255,255,255,0.6);
        transition-duration: 300ms;
        text-decoration: none;
        &:hover,
        &:active {
            color: rgba(255, 255, 255, 0.92);
            transition-duration: 300ms;
        }
        &:hover {
            width: 100%;
            cursor: pointer;
        }
    }
}

// 画面サイズが800px以下の場合
@media screen and (max-width: 800px) {
    .footer-center {
        display: block;
    }
}