
input:focus {
    outline: 0;
}
body {
    font-family: -apple-system, Roboto, HelveticaNeue, Arial, sans-serif;
    }
input {
    -webkit-appearance: none; 
}
/* id */
#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
}
#_bg_g {
    background: linear-gradient(to right, #1b924a 0%, #1b924a 25%, #d33833 25%, #d33833 50%, #fec434 50%,  #fec434 75%, #3b73f1 75%);
}

#logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    line-height: 110%;
    font-size: 11px;
    width: 300px;
}
#logo-subtext {
    color: #4285f4;
    padding: 0 0 0 5px;
    _line-height: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}
#input_1 {
    margin: 0;
    padding: 15px 0 15px 0;
    _background: red;
}
button {
    font-size: 9px;
    border: 1px solid #dadce0;
    border-radius: 50%;
    background: #eee;
    width: 33px;
    height: 33px;
}
#keywords {
    font-size:18px;
    border:1px solid #dadce0;
    border-radius:20px;
    margin-left: 10px;
    padding: 7px 0 6px 19px;
}
.tbl{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.label {
    display: inline-block;
    width: 140px;
    font-size: 13px;
    font-weight: bold;
    color: #c9c9c9;
    line-height: 39px;
    padding-left: 10px;

    height: 26px;
}
#width, #height {
    width: 100px;
    font-size:16px;
    border:1px solid #dadce0;
    border-radius: 0;
    padding: 2px 6px 2px 0;
    text-align: right;
    _line-height: 39px;
    height: 22px;
}
#container {
    margin-left: auto;
    margin-right: auto;
}