header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #000;
    background: #fff;
    .web-title-area {
        padding-left: 10px;
        a {
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }
    }
    .menu-area {
        width: 50%;
        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .oss-short-name {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    header {
        .menu-area {
            .nav {
                .oss-long-name {
                    display: none;
                }
                .oss-short-name {
                    display: block;
                }
            }
        }
    }
    
}

@media screen and (max-width: 650px) {
    header {
        .menu-area {
            display: none;
        }
        .web-title-area {
            padding-left: 0px;
        }
    }
    
}

@media screen and (max-width: 350px) {
    header {
        display: block;
        text-align: center;
        height: 70px;
    }
}