body.mc {
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgba(255, 255, 255, 0.9);
    background: url('../../assets/img/bg.png');
    //background: url(https://media1.giphy.com/media/RkHwBh7Vkwoc2CB0vf/giphy.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    -o-background-position-x: center;
    -moz-background-position-x: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.all_center {
    text-align:center;
}

.all_left {
    text-align:left;
}

.all_right {
    text-align:right;
}

.all_center,
.all_left,
.all_right {
    height:60px;
    .black_box {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
        background: rgba(0, 0, 0, 0.300);
        ul li {
            list-style: none;
        }
    }
}

a {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 300ms;
    text-decoration: none;
    &:hover,
    &:active {
        color: rgba(255, 255, 255, 0.92);
        transition-duration: 300ms;
    }
    &:hover {
        width: 100%;
        cursor: pointer;
    }
    &[target="_blank"]:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f08e";
        margin: 0 0 0 5px;
    }
}

ul {
    padding: 0;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    .popup-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        max-width: 600px;
        padding: 50px;
        background-color: #fff;
        z-index: 2;
        img {
            width: 100%;
        }
        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            .fa-times {
                font-size: 20px;
                color: #333;
            }
        }
    }
    .black-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: 1;
        cursor: pointer;
    }
    .contents {
        color: #000;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 300px) {
    h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 250px) {
    h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 200px) {
    h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 170px) {
    h1 {
        font-size: 15px;
    }
}